body {

    font-family: Arial, Helvetica, sans-serif;

    margin: 0%;

    padding: 0%;

}

.hero{

    background: url("sponsor image.jpeg" ) no-repeat center/cover;

    color: chartreuse;

    text-align: center;

    padding: 6rem 2rem;

}

.hero .btn{

  background: whitesmoke;  

  color: darkgray;

  padding: 1rem 2rem;

  text-decoration: none;

  font-weight: bold;

  border-radius: 5px;

}

section{

    padding: 2rem;

}

.register form{

    display: flex;

    flex-direction: column;

    gap: 1rem;

}

#thankYouMessage{

    font-size: medium;

    font-weight: bold;

    color: aquamarine;

}

.sponsors {

  background: cornsilk;

  padding: 2rem;

  text-align: center;

}

.sponsors h2 {

  margin-bottom: 1.5rem;

}

.sponsor-logos {

  display: flex;

  justify-content: center;

  gap: 2rem;

  flex-wrap: wrap;

}

.sponsor-logos img {

  width: 150px;

  height: auto;

  filter: grayscale(100%); 

  transition: filter 0.3s ease;

}

.sponsor-logos img:hover {

  filter: none; 

}

footer{

    background:cyan;

    color: beige;

    text-align: center;

    padding: 1rem;
}



